h3{
    color: red;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    border: 0px;
}
ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
li{
    display: inline-block;
    width: 120px;
    margin: 0 5px;
}
.img-text {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none; 
}