body {
    margin: 0;
    padding: 0;
    background: url("image-ex-11-1-bj.jpg") no-repeat center;
}
table {
    border: 1px solid #000;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}
.item {
    text-decoration: none;
    color: #000;
}
.item:hover {
    background-color: #F1F2F3;
}
table table {
    border: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
table table tr {
    text-align: center;
    height: 30px;
}
table table td {
    width: 20%;
}
td {
    font-weight: bold;
    padding-left: 10px;
}
.menu {
    background-color: red;
    width: 100%;
    height: 30px;
}
.menu a {
    width: 100%;
    height: 20px;
    padding: 5px auto;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.menu a:hover {
    background-color: #FEADDE;
    display: inline-block;
}
.caption {
    background: url("image-ex-11-1-title-img1.png") no-repeat center;
    width: 376px;
    height: 121px;
    margin: 0 auto;
}
#black {
    color: #000;
}
#red {
    color: #fff;
}