*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px/1.5 "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "wenQuanYi Micro Hei", sans-serif;
    color: #333;
}

ul,
li{
    list-style: none;
}

em,
i{
    font-style: normal;
}

a{
    text-decoration: none;
    color: #333;
}