* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FEFEDD;
}
.head {
    text-align: center;
    padding: 15px 0;
    background-color: #FEF2F3;
}
.head .logo {
    height: 80px;
    margin-bottom: 10px;
}
.head h4 {
    color: red;
    font-size: 28px;
}
.head h4 span {
    background-color: #fff;
    padding: 0 20px;
}
.main {
    display: flex;
    padding: 10px;
}
.nav-left {
    width: 200px;
    margin-right: 20px;
}
.nav-left ul {
    list-style: none;
}
.nav-left li {
    margin: 10px 0;
}
.nav-left a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 22px;
    padding: 8px 15px;
    background-color: #eee;
    border-radius: 5px;
    transition: all 0.3s;
}
.nav-left a:hover {
    background-color: #ff6600;
    color: #fff;
    transform: translateX(5px); /* 悬浮右移效果 */
}
.img-right {
    flex: 1;
}
.show-img {
    width: 690px;
    height: 380px;
    border: none;
}
.foot {
    padding: 20px;
    background-color: #66F;
    color: #fff;
}
.foot p {
    font-size: 22px;
    line-height: 1.5;
    text-indent: 2em;
}